.pg-cntctr{
    margin: 40px auto;
}
main form label {

}
main form input {
    padding: 5px;
    border: 2px solid gray;
    width: 100%;
}
main form textarea {
    width: 100%;
    padding: 5px;
    border: 2px solid gray;
    font-family: inherit;
    font-size: large;
}
main form button{
    background-color: #ec1c23;
    padding: 5px 10px;
    color: white;
    outline: 0;
    border-radius: 5px;
    width: 150px;
    font-weight: 700;
}
main form button:hover{
    background-color: #08526d;
}
input{
    font-family: inherit;
    font-size:medium;
}