.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1em;  
}

.row > * {
    margin-left: 1em;
}
/* ==== Grand Screen ==== */
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: calc(33.33% - 1em); 
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: calc(50% - 1em);
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: calc(66.66% - 1em);
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: calc(100% - 1em);
}

/* === Tablet === */
@media (max-width : 768px) {

    .col-tab-1 {
        width: 8.33%;
    }
    .col-tab-2 {
        width: 16.66%;
    }
    .col-tab-3 {
        width: 25%;
    }
    .col-tab-4 {
        width: calc(33.33% - 1em); 
    }
    .col-tab-5 {
        width: 41.66%;
    }
    .col-tab-6 {
        width: calc(50% - 1em);
    }
    .col-tab-7 {
        width: 58.33%;
    }
    .col-tab-8 {
        width: calc(66.66% - 1em);
    }
    .col-tab-9 {
        width: 75%;
    }
    .col-tab-10 {
        width: 83.33%;
    }
    .col-tab-11 {
        width: 91.66%;
    }
    .col-tab-12 {
        width: calc(100% - 1em);
    }
    .jus-tab{
        margin-left: auto;
        margin-right: auto;
    }
}

/* === Phone === */
@media (max-width:576px) {
    .col-mob-1 {
        width: 8.33%;
    }
    .col-mob-2 {
        width: 16.66%;
    }
    .col-mob-3 {
        width: 25%;
    }
    .col-mob-4 {
        width: calc(33.33% - 1em); 
    }
    .col-mob-5 {
        width: 41.66%;
    }
    .col-mob-6 {
        width: calc(50% - 1em);
    }
    .col-mob-7 {
        width: 58.33%;
    }
    .col-mob-8 {
        width: calc(66.66% - 1em);
    }
    .col-mob-9 {
        width: 75%;
    }
    .col-mob-10 {
        width: 83.33%;
    }
    .col-mob-11 {
        width: 91.66%;
    }
    .col-mob-12 {
        width: calc(100% - 1em);
    }
    .jus-mob{
        margin-left: auto;
        margin-right: auto;
    }
    .txt-center-mob{
        text-align: center;
    }
    .mb-mob{
        margin-bottom: 1em;
    }
   a{
       font-size: 16px !important;
   }
   h2{
    font-size: 24px !important;
   }
   h3{
    font-size: 20px !important;
   }
   h1{
    font-size: 30px !important;
   }
    
}